.Indicator:before {
    content: ' \25CF';
    float: right;
    font-size: 1.5em;
    right: 3%;
    position: absolute;
    top: 0.2em;
}

.Indicator.Indicator-green {
    color: #4CAF50
}

.Indicator.Indicator-red {
    color: #E53935
}
